<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet"> 
    <link href="../static/css/glossator.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

  <title>Glossator</title>


</head>


<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Glossator</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="about">About</a></li>
          
          
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <select class="form-control language-select" style="margin-top:8px">
              <option value="english">Longman Active Study Dictionary</option>
              <option value="chinese">Longman English-Chinese Dictionary</option>
            </select>
        </ul>

      </div><!--/.nav-collapse -->


    </div>
  </nav>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-8 l-pane">
        <div class="about">
            <p>Glossator is an awesome platform that detects the definition of every word in a given text in a desired language. Since a word can have multiple definitions, depending on the part of speech of the word, Glossator can identify the most accurate definition for that word from a dictionary. Morever, the words are highlighted with a color that matches its part of speech which gives users an exciting environment to work with. Glossator is not only accurate, fast, and comprehensive, but helps users learn how to become effective and organized readers.</p>

            <p>Developers</p>
            <p><img src="../static/png/developers.png"></img></p>
            <ul>
              <li>
                Eric Sim
              </li>
              <li>
                Dennis Reyes
              </li>
              <li>
                Khanh Nguyen
              </li>
              <li>
                Brian Lee
              </li>
            </ul>
                    
          <p>APIs Used</p>
          <ul>
            <li><a href="http://developer.pearson.com/apis/dictionaries">Pearson Dictionaries API</li>
            <li><a href="https://spacy.io/">SpaCy</a></li>
            <li><a href="http://flask.pocoo.org/">Flask</a></li>
            <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
          </ul>

          <p>
            <a href="https://github.com/erics1989/Glossator">Github page</a>
          </p>


        </div>




      </div>

      <div class="col-sm-4 r-pane">
        <div class="defbox">



        </div>

        
      </div>
    </div>

    <!--
       <div class="starter-template">
       </div>

    -->

  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/def_format.js"></script>

  <script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
  </script>

</body>

</html>
