<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet"> 
    <link href="../static/css/glossator.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

  <title>Glossator</title>


</head>


<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">Glossator</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="about">About</a></li>
        </ul>


        <ul class="nav navbar-nav navbar-right">
            <select class="form-control language-select" style="margin-top:8px">
              <option value="english">Longman Active Study Dictionary</option>
              <option value="chinese">Longman English-Chinese Dictionary</option>
            </select>
        </ul>




      </div>
            
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">




    <div class="row">
      <div class="col-sm-8 l-pane">
        <p class="paragraph">





          {% for word in words %}<span class="{{ word.pos_ }} pword word" name="{{ word.lemma_ }}" pos="{{ word.pos_ }}">{{ word.orth_ }}</span>{{ word.whitespace_ }}{% endfor %}
        </p>


<div class="row" style="display: flex; padding: 1rem;">
  <div clas="col-sm-3">
    <div class="circle" style="background-color: #dc322f">Noun</div>
  </div>
  <div clas="col-sm-3">
    <div class="circle" style="background-color: #268bd2">Verb</div>
  </div>
  <div clas="col-sm-3">
    <div class="circle" style="background-color: #b58900">Adjective</div>
  </div>
  <div clas="col-sm-3">
    <div class="circle" style="background-color: #6c71c4">Adverb</div>
  </div>
  <div clas="col-sm-3">
    <div class="circle" style="background-color: #cb4b16">Pronoun</div>
  </div>
  <div clas="col-sm-3">
    <div class="circle" style="background-color: #d33682">Prop Noun</div>
  </div>
  </div>




        <form action="." method="POST" >
          <textarea class="user-input" name="text">paste text here</textarea><br>
          <input type="submit" class="btn btn-primary btn-lg" value="Gloss" style="float:left"></input>

        </form>



        <div class="input-group input-group-lg" style="padding-left:8px" >

            <label class="input-group-btn">
                <span class="btn btn-primary btn-lg">
                    Upload File
                    <input type="file" id="filename" style="display: none;" multiple="">
                </span>
            </label>
            <input type="text"  class="form-control" readonly="">

        </div>

<!--
        <form action="." method="POST">
          <input type="file" id="filename" class="btn btn-primary btn-lg" value="Upload File"></input>
        </form>
-->

<script>
function readSingleFile(e) {
  var file = e.target.files[0];
  if (!file) {
    return;
  }
  var reader = new FileReader();
  var contents = ""
  reader.onload = function(e) {
    contents += e.target.result;
    console.log(contents)
    $("textarea.user-input").val(contents);
    console.log("success");

  };
  reader.readAsText(file);

  
  return contents
}

document.getElementById('filename').addEventListener('change', readSingleFile, false);
</script>


      </div>
      <div class="col-sm-4 r-pane">
        <div class="defbox">
          Mouse over words for definitions.
        </div>
      </div>
    </div>

  </div>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/def_format.js"></script>

</body>

</html>
